// Fonts
$f-primary: "Archivo Black", sans-serif;
$f-secondary: "Roboto", sans-serif;

// Colors
$c-primary: #06283D;
$c-secondary: #256D85;
$c-tertiary: #47B5FF;
$c-quarternary: #DFF6FF;

$c-black: #000000;
$c-white: #fff;
